
Demo/AFSoundManager-Demo.xcodeproj/project.xcworkspace/xcuserdata/AlfritsJohnRobert.xcuserdatad/UserInterfaceState.xcuserstate

Demo/.DS_Store

Demo/AFSoundManager-Demo.xcodeproj/xcuserdata/AlfritsJohnRobert.xcuserdatad/xcschemes/xcschememanagement.plist
